@{
    ViewData["Title"] = "Home Page";
}

<h1>Test</h1>


<span id="bitness">@(System.IntPtr.Size * 8)</span><label for="bitness">-Bit</label>
<br />
<label for="bitness">Hardware-Accelerated:</label><span id="hw">@System.Numerics.Vector.IsHardwareAccelerated</span>
<br />

<img style="width: 500px;" src="@Url.Content("~/images/orig.jpg")" alt="pic" />

<!---->
<img src="@Url.Action("Thumb", "Home")/orig.jpg" alt="pic" />
